@model IEnumerable<WebTracuu.Models.ThongTin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="1">

    <tr>
        <th>STT </th>
        <th>Loại xét tuyển </th>
        <th>Chi tiết</th>
    </tr>
    @{int index = 1;}
    @foreach (var item in Model.Select(c => c.Loai_XT).Distinct().ToList())
    {
        <tr>
            <td> @index</td>
            <td> @Html.ActionLink(item == null ? "_" : @item, "ViewLoaiXTDetail", new { LoaiXT = @item }) </td>
            @if (item == "THINK")
            {
                <td>
                    -Trường Đại học Sư phạm Hà Nội xét tuyển thẳng các thí sinh thuộc đối tượng được theo quy định tại khoản 2, điều 7 của Quy chế tuyển sinh trình độ đại học tuyển sinh trình độ cao đẳng ngành Giáo dục Mầm non của Bộ Giáo dục và Đào tạo (gọi tắt là đối tượng XTT1) <br>
                    Thí sinh phải nộp hồ sơ qua Sở Giáo dục và Đào tạo theo qui định của Bộ Giáo dục và Đào tạo)
                </td>
            }
            else if (item == "THPT")
            {
                <td>
                    Phương thức xét tuyển 1: Sử dụng kết quả thi tốt nghiệp THPT năm 2021 để xét tuyển(Tên ngành học, mã ngành, chỉ tiêu và tổ hợp xét tuyển xem cụ thể ở mục 3). <br>
                    - Điều kiện đăng ký xét tuyển: Thí sinh đã tốt nghiệp THPT và có hạnh kiểm tất cả các học kỳ ở bậc THPT đạt loại khá trở lên.<br>
                    -Thời gian đăng ký xét tuyển và công bố kết quả xét tuyển: Theo qui định của Bộ Giáo dục và Đào tạo. <br>
                    - Hình thức đăng ký xét tuyển: Theo qui định của Bộ Giáo dục và Đào tạo. <br>
                    - Nguyên tắc xét tuyển: Xét tuyển theo từng ngành. <br>
                    - Tiêu chí xét tuyển: Xét tuyển từ cao xuống thấp cho đến khi đủ chỉ tiêu dựa theo tổng điểm thi 3 môn(bao gồm cả môn thi chính nhân hệ số 2(nếu có) của tổ hợp đăng ký xét tuyển và điểm ưu tiên(nếu có)).Nếu xét tuyển theo phương thức 2 hoặc phương thức 3 còn thừa chỉ tiêu thì sẽ chuyển chỉ tiêu sang phương thức 1 hoặc phương thức 4 tùy theo ngành đào tạo. <br>
                    - Ngưỡng đảm bảo chất lượng đầu vào:<br>
                    + Đối với các ngành thuộc nhóm ngành Khoa học giáo dục và đào tạo giáo viên: Theo qui định của Bộ Giáo dục và Đào tạo. <br>
                    + Đối với các ngành ngoài sư phạm: Tổng điểm xét tuyển theo tổ hợp đạt từ 15.0 điểm trở lên(đã cộng điểm ưu tiên đối tượng và ưu tiên khu vực nếu có).<br>
                </td>
            }
            else if (item == "XTT2")
            {
                <td>
                    -Điều kiện đăng ký xét tuyển: Thí sinh đã tốt nghiệp THPT năm 2021 có hạnh kiểm tất cả các học kỳ đạt loại Tốt, có học lực giỏi cả 3 năm ở bậc THPT và phải thỏa mãn một trong các điều kiện qui định dưới đây:<br>
                    a.1.Thí sinh là học sinh đội tuyển cấp tỉnh/ thành phố hoặc đội tuyển của trường THPT chuyên trực thuộc các trường đại học được tham dự kỳ thi học sinh giỏi quốc gia.<br>
                    a.2.Thí sinh là học sinh đạt giải nhất, nhì, ba trong các kỳ thi học sinh giỏi cấp tỉnh/ thành phố ở bậc THPT. <br>
                    a.3.Thí sinh là học sinh trường THPT chuyên hoặc các trường THPT trực thuộc trường ĐHSP Hà Nội, trường ĐHSP TP Hồ Chí Minh.<br>
                    a.4.Thí sinh có các chứng chỉ Tiếng Anh Quốc tế IELTS hoặc TOEFL iBT hoặc TOEIC.chứng chỉ Tiếng Pháp DELF hoặc TCF, chứng chỉ Tin học Quốc tế MOS.Qui định cụ thể theo từng ngành xem tại mục 3. (Thời hạn 2 năm tính đến ngày công bố kết quả xét tuyển thẳng của trường).<br>
                    sDiengiai += "- Nguyên tắc xét tuyển: Xét tuyển lần lượt theo thứ tự ưu tiên bắt đầu từ đối tượng mục a.1, nếu còn chỉ tiêu sẽ xét tiếp lần lượt đến các đối tượng mục a.2, a.3, a.4 cho đến hết chỉ tiêu.Đối với thí sinh thuộc đối tượng từ mục a.2 đến a.4 xét theo tổng điểm trung bình chung cả năm(viết tắt là TĐTBCCN) lớp 10, 11, 12 của môn học hoặc tổ hợp môn học ở bậc THPT theo qui định của mỗi ngành ghi tại mục 3(đã cộng điểm ưu tiên đối tượng và ưu tiên khu vực nếu có).<br>
                </td>
            }
            else if (item == "XTT23")
            {
                <td>
                    -Điều kiện đăng ký xét tuyển: (Qui định cụ thể các ngành xem tại mục 3) <br>
                    + Đối với các ngành thuộc nhóm ngành khoa học giáo dục và đào tạo giáo viên: Thí sinh là học sinh tốt nghiệp THPT năm 2021 có hạnh kiểm tất cả các học kỳ ở bậc THPT đạt loại tốt và 3 năm học lực giỏi. Riêng đối với ngành SP tiếng Pháp, nếu thí sinh là học sinh hệ song ngữ tiếng Pháp điều kiện về học lực là lớp 12 đạt loại giỏi; đối với ngành SP Công nghệ điều kiện về học lực lớp 12 đạt loại giỏi;<br>
                    + Đối với các ngành ngoài sư phạm: Thí sinh là học sinh tốt nghiệp THPT năm 2021 có hạnh kiểm tất cả các học kỳ và học lực 3 năm ở bậc THPT đạt từ khá trở lên.<br>
                    <b>Nguyên tắc xét tuyển:</b>
                    <br>
                    + Xét TĐTBCCN lớp 10, 11, 12 của môn học hoặc tổ hợp các môn học theo qui định của mỗi ngành tại mục 3(đã cộng điểm ưu tiên đối tượng và ưu tiên khu vực nếu có).Trước hết xét các thí sinh thuộc đối tượng XTT2 theo nguyên tắc xét tuyển của mục 2.2, sau đó xét đến các thí sinh đối tượng XTT3.<br>
                </td>
            }
           
        </tr>
        index++;
    }
</table>
