@{
    ViewBag.Title = "Mẫu đăng ký";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table style="font-size:14px" border="1">
        <tbody>
            <tr>
                <td style="text-align: center;" colspan="3"><strong>CÁC BIỂU MẪU TUYỂN SINH 2021</strong></td>
            </tr>
            <tr>
                <td><strong>STT</strong></td>
                <td style="text-align: center;"><strong>Tên biểu mẫu</strong></td>
                <td style="text-align: center;"><strong>Liên kết tải xuống</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">1</td>
                <td>Mẫu đăng ký xét tuyển thẳng XTT2 - XTT3</td>
                <td><a href="@Url.Content("~/Download/PhieuDK_XTT_2021.pdf")">Mẫu XTT2 - XTT3</a></td>
            </tr>
            <tr>
                <td style="text-align: right;">2</td>
                <td>Mẫu đăng ký thi năng khiếu NK1</td>
                <td><a href="@Url.Content("~/Download/Mau_NK1_2021.pdf")">Mẫu NK1</a></td>
            </tr>
            <tr>
                <td style="text-align: right;">3</td>
                <td>Mẫu đăng ký thi năng khiếu NK2</td>
                <td><a href="@Url.Content("~/Download/Mau_NK2_2021.pdf")">Mẫu NK2</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>