
@{
    ViewBag.Title = "SearchPost";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h3>Kết quả tìm kiếm:</h3>

<script async src="https://cse.google.com/cse.js?cx=cebbc98d5fd42dbfc"></script>
<div class="gcse-search"></div>