@model IEnumerable<WebTracuu.Models.ThongTin>

@{
    ViewBag.Title = "Danh sách theo tổ hợp xét tuyển";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<h3>@ViewBag.Title</h3>
<table style="font-size:14px" border="1">

    <tr>
        <th>STT </th>
        <th>Tổ hợp xét tuyển</th>
    </tr>
    @{int index = 1;}
    @foreach (var item in Model.Select(c => c.To_hop_thi).Distinct().ToList())
    {
        <tr>
            <td style="text-align:right;">  @index</td>        
            <td> @Html.ActionLink(@item==null?"_":item, "ViewToHopDetail", new { Tohop = @item }) </td>
        </tr>
        index++;
    }

</table>
