@model WebTracuu.Models.ThongTin
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewDetail</h2>

@Html.DisplayFor(model => model.Nganh)
<br />
@Html.DisplayFor(model => model.To_hop_thi)
<br />
@Html.DisplayFor(model => model.Chi_Tieu)
<br />
@Html.DisplayFor(model => model.Loai_XT)