@model IEnumerable<WebTracuu.Models.ThongTin>

@{
    ViewBag.Title = "Chi tiết theo ngành";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@*<h4>Giới thiệu về ngành: @ViewBag.Nganh</h4>*@
<h5 align="right">
<a href='javascript:history.go(-1)' text-align:center;>Quay lại trang trước</a><br>
<img src="@Url.Content(@ViewBag.Dean_TS)" alt="IMAGES" style="height:100%;width:100%" />
<br>
<a href='javascript:history.go(-1)' text-align:center;>Quay lại trang trước</a>
</h5>