<title>@ViewBag.Title</title>
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner">

        <div id="templatemo_banner_image">
            <div id="templatemo_banner_image_wrapper">
                <img src="~/Content/images/hnue.jpg" alt="image 1" />
            </div>
        </div>

        <div id="templatemo_banner_content">
            <div class="header_01">Mã trường: SPH; Địa chỉ: Số 136 Xuân Thuỷ, Cầu Giấy, Hà Nội</div>
            <p>Điện thoại: 0867.876.053; 0867.74.55.23; Website: www.hnue.edu.vn</p>
            <div class="button_01"><a href="#">Xem thêm</a></div>
        </div>

        <div class="cleaner"></div>
    </div>
</div>
