<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="site_logo"></div>

        <div id="templatemo_menu">
            <div id="templatemo_menu_left"></div>
            <ul>
                <li><a href="./Thongtinchung" class="current">Thông tin chung</a></li>
                <li><a href="./Index">Ngành TS</a></li>
                <li><a href="./TohopList">Tổ hợp TS</a></li>
                <li><a href="./LoaiXTList">Loại xét tuyển</a></li>
                <li><a href="./Maudangky" class="last">Mẫu đăng ký</a></li>
            </ul>
        </div>
    </div>
</div>
